:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  /* 修改search左侧图标样式 */
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-nav-bar-title-text-color: var(--primary-color) !important;
  --van-primary-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

/* 遮盖tab-bar */
.top-page {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  overflow-y: auto;
}

.tab-bar-Scroll {
  padding-bottom: 60px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}
